<form action="#">
    <div>
        <label for="sticker-title">Title:</label>
        <input type="text" name="sticker-title" id="sticker-title">
    </div>
    <div>
        <label for="sticker-text">Body:</label>
        <textarea name="sticker-text" id="sticker-text"></textarea>
    </div>
    <div>
        <button
            type="submit"
        >
            Add Sticker
        </button>
    </div>
</form>